.quiz-container {
    text-align: center;
}
#h1 {
    text-align: center;
    color: rrgb(6, 123, 233);


}
h1 {
    color: purple;
    background-color: aqua;
    text-align: center;
}
section {
    color: purple;
    background-color: aqua;
    text-align: center;}
.button {
    color: green;

}  